.championList {
    width: 100%;
}

.championList .championList_List {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.4rem;
}

.championList .championList_List .championList_Champ {
    width: 160px;
    height: 160px;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .championList .championList_List .championList_Champ:hover {
    background-color: tomato;
} */

.championList .championList_List .championList_Champ p {
    position: relative;
    text-decoration: none;
}

.championList .championList_List .championList_Champ img {
    position: relative;
    top: 15px;
    width: 120px;
    height: 120px;
}
