.championInfo {
    width: 900px;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 80px;
}


.championInfo .championInfo_Top {
    position: relative;
    display: flex;
    height: 500px;
    gap: 20px;
}

.championInfo_Img {
    height: 500px;
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.championInfo_Img_Pagination {
    display: flex;
    gap: 20px;
}

.MuiSvgIcon-root {
    cursor: pointer;
}

.championInfo_Img img {
    height: 500px;
    width: 100%;
}

.championInfo .championInfo_Top .championInfo_Skills {
    position: relative;
    flex: 0.7;
    display: inline;
    height: 500px;
}

.championInfo_Skin {
    height: 500px;
}

.championInfo_skillImage {
    position: relative;
    width: 64px;
    height: 64px;
    margin-left: 40px;
}


.championInfo_Description {
    margin-top: 150px;
}