.summonerInfo {
    width: calc(100% - 80px);
    min-width: 900px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.summonerInfo .summonerInfo_userInfo {
    height: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
}
.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_img .summonerInfo_userLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid gold;
    background-color: black;
    color: gold;
    position: absolute;
    top: 130px;
    left: 50px;
}
.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_img img {
    height: 150px;
    width: 150px;
}

.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_profile .summonerInfo_userInfo_profile_buttons {
    display: flex;
    gap: 10px;
}
.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_profile .summonerInfo_userInfo_profile_buttons button {
    height: 40px;
    width: 80px;
}

.summonerInfo .summonerInfo_userInfo .summonerInfo_userInfo_profile .summonerInfo_userInfo_profile_buttons button:nth-child(1) {
    background-color: skyblue;
}

.summonerInfo .summonerInfo_MatchHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}