.team {
    position: relative;
    top: 0;
    left: 0;
    height: 140px;
    display: flex;
    flex-direction: row;
}

.team_ChampionImage {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 140px;
    justify-content: center;
    gap: 7px;
}
.team_Participant {
    position: relative;
    left: 12px;
    top: -7px;
    line-height: 15px;
}

.team_Participant .team_Participant_SummonerId {
    font-size: 13px;
}